<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alex Szoeke</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300|Sacramento" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">
            <h1>Alexandria Szoeke</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-none" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/marketing">MARKETING</a>
                </li>
                <li>
                    <a class="nav-link" href="/resume">RESUME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <h3 class="margin">Who Am I?</h3>
        <img src="./images/logo.png" class="img-responsive rounded-circle margin" id="logo" style="display:inline" alt="Logo" width="350"
            height="350">
        <h3>Alex Szoeke</h3>
        <h2>Marketing Specialist</h2>
    </div>

    <div class="container-fluid bg-2 text-center">
        <h2 class="margin">"Someone once told me not to bite off more than I could chew. I told them I'd rather choke on greatness than nibble
            on mediocrity." - Anonymous</h2>
        <p>I am a marketing specialist, a self learner, and a hard worker. I'm always ready to take the step and move forward professionally and personally. Experienced with content development, email campaigns, google analytics, and CRM management (both Infusionsoft and Salesforce).          Additionally, I am knowledgeable with HTML5, CSS, JavaScript, jQuery, and Bootstrap, WordPress and skilled with social media management, marketing, and public relations.</p>

        <h2 class="card-title">Connect with Me</h2>
        <a href="https://github.com/alexszoeke" target="_blank">
            <img src="./images/github.png" alt="GitHub" width="50px" class="icon">
        </a>
        <a href="https://www.linkedin.com/in/alexszoeke/" target="_blank">
            <img src="/images/linkedin.png" alt="LinkedIn" width="50px" class="icon">
        </a>
        <a href="https://stackoverflow.com/users/8985745/alex-szoeke?tab=profile" target="_blank">
            <img src="./images/stackoverflow.png" alt="Stackoverflow" width="50px" class="icon">
        </a>
        <a href="https://twitter.com/web_dev_alex" target="_blank">
            <img src="./images/twitter.png" alt="Twitter" width="50px" class="icon">
        </a>
    </div>

    {{{body}}}

    <footer class="container-fluid bg-4 text-center fixed-bottom">
        <div class="copyright">
            © Copyright 2021 Alex Szoeke
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="/javascript/main.js"></script>
    <script src="/javascript/contact.js"></script>
</body>

</html>