<div class="container-fluid bg-2 text-center">
  <a name="jumpto">
    <h2 class="margin">ABOUT ME</h2>

    <p>My name is Alex, I'm 25 years old, and currently a marketing specialist at Appraisal MC, a small appraisal management company in Houston, Texas. I graduated from the University of Houston with a bachelor's degree in corporate communications and a minor in organizational leadership and supervision. While I enjoyed communications, it wasn't very challenging. I had learned some outdated HTML in one of my courses and really enjoyed it, so now I'm expanding on that with UT Austin's Coding Bootcamp in Houston. It's extremely challenging, but so much fun to do. I love problem solving and having that "ah-hah!" or "light-bulb" moment. I'm already looking to take the next step in my career. If you'd like the opportunity to get to know me better, <a href="/contact">contact</a> me anytime.</p>

</div>