<div class="container-fluid bg-3 text-center">
    <a name="jumpto" />
    <h2 class="margin">IN MARKETING</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Texas Housing Market Remains Strong</h4>
            <a href="https://appraisalmc.com/texas-housing-market-remains-strong/" target="_blank">
                <img src="./images/marketing/house.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Texas Market">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Why is working with an AMC advantageous?</h4>
            <a href="https://appraisalmc.com/appraisal-management-company-advantage/" target="_blank">
                <img src="./images/marketing/amc-advantage.jpeg" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="AMC Advantage">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Debunking AMC Myths</h4>
            <a href="https://appraisalmc.com/debunking-amc-myths/" target="_blank">
                <img src="./images/marketing/amc-myth.jpeg" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="AMC Myths">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4>Why Lenders Love Appraisal MC</h4>
            <a href="https://appraisalmc.com/why-lenders-love-appraisal-mc/" target="_blank">
                <img src="./images/marketing/Lenders-Love.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Lenders Love">
            </a>
        </div>

        <div class="col-sm-4">
            <h4>LOs Close 3x More Loans than the National Average</h4>
            <a href="https://appraisalmc.com/loan-officers-close-3x-more-loans-than-national-average/" target="_blank">
                <img src="./images/marketing/3-times.jpeg" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="LOs Close 3x More">
            </a>
        </div>

        <div class="col-sm-4">
            <h4>Is your appraisal process hurting or helping you?</h4>
            <a href="https://appraisalmc.com/appraisal-process-hurting-helping/"></a>
            <img src="./images/marketing/hurting-or-helping.png" class="img-responsive margin thumbnail img-fluid" style="width:100%"
                alt="Stress">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4>The Appraisal MC Advantage</h4>
            <a href="https://appraisalmc.com/appraisalmc_advantage/" target="_blank">
                <img src="./images/marketing/advantage.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="The AMC Advantage">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>How to Choose Your AMC</h4>
            <a href="https://appraisalmc.com/how-to-choose-your-amc/" target="_blank">
                <img src="./images/marketing/Choose-Your-AMC.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Choose Your AMC">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Top Conferences to Attend in 2018</h4>
            <a href="https://appraisalmc.com/top-conferences-to-attend-in-2018/" target="_blank">
                <img src="./images/marketing/conference.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Conference">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4>Why Your LOs Should Learn USPAP</h4>
            <a href="https://appraisalmc.com/your-loan-officers-should-learn-uspap/" target="_blank">
                <img src="./images/marketing/learning.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Learn USPAP">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>The Appraisal MC Culture</h4>
            <a href="https://appraisalmc.com/appraisal-mc-culture/" target="_blank">
                <img src="./images/marketing/the-office.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="The Office">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Suggestions from Fee-Appraising, Former Investigator</h4>
            <a href="https://appraisalmc.com/suggestions-from-a-former-investigator/" target="_blank">
                <img src="./images/marketing/webinar-suggestions.png" class="img-responsive margin thumbnail img-fluid" style="width:100%"
                    alt="Webinar Recap">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4>Is Your Borrower’s Home Appraisal Ready?</h4>
            <a href="https://appraisalmc.com/borrowers-home-appraisal-ready/" target="_blank">
                <img src="./images/marketing/appraisal-ready.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Appraisal Ready">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Housing Market Seasonality</h4>
            <a href="https://appraisalmc.com/housing-market-seasonality/" target="_blank">
                <img src="./images/marketing/seasonality.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Seasonality">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Priority Panels Return for Busy Season</h4>
            <a href="https://appraisalmc.com/priority-panels-return/" target="_blank">
                <img src="./images/marketing/priority-cover.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Priority Panels">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4>How to Prepare for Busy Season</h4>
            <a href="https://appraisalmc.com/how-to-prepare-for-busy-season-webinar-recap/" target="_blank">
                <img src="./images/marketing/busy-season.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Busy Season">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Is Your Nationwide AMC Really Nationwide?</h4>
            <a href="https://appraisalmc.com/is-your-nationwide-amc-really-nationwide/" target="_blank">
                <img src="./images/marketing/nationwide.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Nationwide">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>The True Cost of an Appraisal Delay</h4>
            <a href="https://appraisalmc.com/true-cost-delay/" target="_blank">
                <img src="./images/marketing/delay.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Appraisal Delays">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4>How to Prevent Appraisal Delays</h4>
            <a href="https://appraisalmc.com/prevent-appraisal-delays/" target="_blank">
                <img src="./images/marketing/prevent-delays.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Prevent Delays">
            </a>
        </div>
        
        <div class="col-sm-4">
            <h4>Priority Panels</h4>
            {{!--
            <a href="https://appraisalmc.com/is-your-nationwide-amc-really-nationwide/" target="_blank"> --}}
                <img src="./images/marketing/priority-panels.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Priority Panels"
                    data-toggle="modal" data-target="#Modal1"> {{!-- </a> --}}
            <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="ModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Priority Panels</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="./images/marketing/priority-panels.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Nationwide">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        <div class="col-sm-4">
            <h4>Company Infographic</h4>
            {{!--
            <a href="https://appraisalmc.com/true-cost-delay/" target="_blank"> --}}
                <img src="./images/marketing/Infographic.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Infographic"
                    data-toggle="modal" data-target="#Modal2"> {{!-- </a> --}}
            <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Company Infographic</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="./images/marketing/Infographic.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Infographic">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4>Conference Booth</h4>
                <img src="./images/marketing/booth.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Conference Booth" data-toggle="modal" data-target="#Modal6">
                <div class="modal fade" id="Modal6" tabindex="-1" role="dialog" aria-labelledby="ModalLabel6" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Conference Booth Design</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="./images/marketing/booth.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Conference Booth">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>Flyer</h4>
                <img src="./images/marketing/half-preview.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Half Page Brochure" data-toggle="modal" data-target="#Modal3">
                <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="ModalLabel3" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Half Page Flyer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <embed src="images/marketing/brochure-half.pdf" width="600" height="700" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>Flyer</h4>
                <img src="./images/marketing/full-preview.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Full Page Brochure" data-toggle="modal" data-target="#Modal4">
            <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel4" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Full Page Flyer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <embed src="images/marketing/brochure.pdf" width="600" height="700" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <h4>Lunch and Learn Presentation</h4>
                <img src="./images/marketing/l&lpreview.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Slideshow Preview" data-toggle="modal" data-target="#Modal5">
                <div class="modal fade" id="Modal5" tabindex="-1" role="dialog" aria-labelledby="ModalLabel5" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Lunch and Learn</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <embed src="images/marketing/lunch-and-learn.pdf" width="600" height="700" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-sm-4">
            <h4>Cost Delays</h4>
                <img src="./images/marketing/cost-preview.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Cost Delay Preview" data-toggle="modal" data-target="#Modal7">
                <div class="modal fade" id="Modal7" tabindex="-1" role="dialog" aria-labelledby="ModalLabel7" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Cost Delays</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <embed src="images/marketing/cost-delays.pdf" width="600" height="700" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4">
            <h4>Survey Results</h4>
                <img src="./images/marketing/survey-preview.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Survey Preview" data-toggle="modal" data-target="#Modal8">
            <div class="modal fade" id="Modal8" tabindex="-1" role="dialog" aria-labelledby="ModalLabel8" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Survey Results</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <embed src="images/marketing/survey.pdf" width="600" height="700" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






























</div>