<div class="container-fluid bg-3 text-center">
    <a name="jumpto"/>
    <h3 class="margin">Projects</h3>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <h4>Hangman Game</h4>
            <a href="https://alexszoeke.github.io/Hangman-Game/" target="_blank"><img src="./images/img_8.jpg" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Rockets Mascot - Clutch"></a>
        </div>
        <div class="col-sm-4">
            <h4>Psychic Game</h4>
            <a href="https://alexszoeke.github.io/Psychic-Game/" target="_blank"><img src="./images/fortune-teller.jpg" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Fortune Teller"></a>
        </div>
        <div class="col-sm-4">
            <h4>Marvel RPG</h4>
            <a href="https://alexszoeke.github.io/week-4-game/" target="_blank">
            <img src="./images/black-panther.jpg" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Black Panther"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <h4>Taylor Trivia</h4>
            <a href="https://alexszoeke.github.io/TriviaGame/" target="_blank">
                <img src="./images/Taylorsnl.jpg" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Taylor Swift">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>GifTastic Doggos</h4>
            <a href="https://alexszoeke.github.io/GifTastic/" target="_blank">
                <img src="./images/dachshund_still.gif" class="img-responsive margin thumbnail img-fluid" style="width:100%"
                    alt="Dachshunds">
            </a>
        </div>
        <div class="col-sm-4">
            <a href="https://alexszoeke.github.io/TrainSchedule/" target="_blank"></a>
                <h4>Train Schedule</h4>
                <img src="./images/train.jpg" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Train">
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <h4>Kickass Karaoke</h4>
            <a href="https://shielded-gorge-35242.herokuapp.com/" target="_blank">
                <img src="./images/karaoke.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Kickass Karaoke">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>LIRI CLI</h4>
            <a href="https://github.com/alexszoeke/liri-node-app" target="_blank">
                <img src="./images/liri.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Liri">
            </a>
        </div>
        <div class="col-sm-4">
            <h4>Bamazon CLI</h4>    
            <a href="https://github.com/alexszoeke/bamazon" target="_blank">
                <img src="./images/bamazon.png" class="img-responsive margin thumbnail img-fluid" style="width:100%" alt="Bamazon">
            </a>
        </div>
    </div>


</div>