<div class="container text-center">
    <a name="jumpto"></a>
    <embed src="images/Szoeke-Resume.pdf" width="600" height="700" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
</div>